:root {
    --sidebar-color: #CCD5AE;
    --header-color: #FEFAE0;
    --accent-color: #D4A373;
    --main-color: #FAEDCD;
    --background-white-color: #FEFCF6;
    --system-ui: system-ui, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: var(--system-ui);
}

.container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

header {
    background-color: var(--header-color);
    grid-column: 2 / 3;
}

aside {
    background-color: var(--sidebar-color);
    /* grid-column: 1 / 2; */
    grid-row: 1 / -1; 

    /* display: grid; */
    padding: 20px;
}

main {
    background-color: var(--main-color);
    grid-column: 2 / -1;
}


/* ********** SIDEBAR CSS ********** */
.sidebar-header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    font-size: 18px;
}

.sidebar-header img {
    align-self: center;     /*this center the sidebar header svg icon */
}

.sidebar-main div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    font-size: 16px;
}

.sidebar-main p {
    align-items: center;        /*this aligns the sidebar text with svg icon */
}

.dashBtn:hover {                /*hover over the sidebar buttons exculding the empty one*/
    background-color: var(--accent-color);
    border-radius: 10px;
}



/* *********** CSS FOR HEADER ************ */
.header-top {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 0px 30px;
}

.header-top input {
    width: 80%;
    border-radius: 8px;
    border: 1px solid black;
    height: 2em;
}

.top-header-icons {
    align-items: center;
    justify-self: center;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.header-bottom {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 10px;
    padding: 0px 30px;
}

.header-buttons {
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.header-username h5 {
    margin-bottom: 0;
}

.header-username h3 {
    margin-top: 5px;
}

.headBtn {
    padding: 10px 20px;
    border-radius: 14px;
    border:none;
    font-weight: bold;
    background-color: var(--sidebar-color);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    letter-spacing: 0.01em;
}

.headBtn:hover {
    background-color: var(--accent-color);
}


/* ********** CSS FOR SVG ICONS ********** */
.header-icon {
    display: block;
    align-self: center;
    padding: 1vh;
}

.sidebar-icon {
    height: 40px;
    width: 40px;
    display: block;
}

.icon {
    height: 20px;
    width: 20px;
    display: block;
    align-self: center;
}

.header-small-icon {
    height: 30px;
    width: 30px;
    display: block;
}

.header-small-bell {
    height: 25px;
    width: 25px;
    display: block;
}


/* ********** CSS FOR MAIN CONTAINER ********** */
.main-container {
    display: grid;
    grid-template-columns: 1fr 25%;
    gap: 10px;
    padding: 20px;
} 

/* ********** LEFT SIDE MAIN CONTAINER ********* */
.card-container {
    border: 1px solid green;
}

.card-container > h4 {
    margin-bottom: 1px;
}

.cards {
    border: 1px solid purple;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;

}

.notecard {
    background-color: var(--background-white-color);
    border-radius: 10px;
    padding: 20px;
    border-left: 6px solid goldenrod;
    display: grid;
}

.notecard p {
    margin: 0;
}

.notecard-title {
    font-weight: bold;
}

.notecard-icons {
    display: grid;
    grid-template-columns: auto auto auto;  
    justify-self: end;
    gap: 13px;
}

.notecard-icon {
    height: 30px;
}

/* ********** RIGHT SIDE MAIN CONTAINER ********* */
.notifs-container {
    border: 1px solid blue;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}


.announcements {
    border: 1px solid orangered;
}

.announce {
    background-color: var(--background-white-color);
    border-radius: 10px;
}

.trending {
    border: 1px solid green;
}

.trends {
    background-color: var(--background-white-color);
    border-radius: 10px;
}



