:root {
    --sidebar-color: #CCD5AE;
    --header-color: #FEFAE0;
    --accent-color: #D4A373;
    --main-color: #FAEDCD;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

header {
    background-color: var(--header-color);
    grid-column: 2 / 3;
}

aside {
    background-color: var(--sidebar-color);
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    display: grid;
    padding: 20px;
}

main {
    background-color: var(--main-color);
    grid-column: 2 / -1;
    
}


/* ********** SIDEBAR CSS ********** */
.sidebar-header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    font-size: 18px;
}

.sidebar-header img {
    align-self: center;     /*this center the sidebar header svg icon */
}

.sidebar-main div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    font-size: 16px;
}

.sidebar-main p {
    align-items: center;        /*this aligns the sidebar text with svg icon */
}



/* *********** CSS FOR HEADER ************ */
.header-top {
    display: grid;
    grid-template-columns: auto fit-content(150px) auto auto auto;
    align-items: center;
    /* justify-items: flex-start; */
    gap: 10px;
}

.header-bottom {
    display: grid;
    grid-template-columns: fit-content(100px) 1fr 1fr;
    gap: 10px;
}

.header-username {}

.header-buttons {
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.headBtn {
    padding: 10px 20px;
    border-radius: 14px;
    border:none;
    font-weight: bold;
    background-color: var(--sidebar-color);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.headBtn:hover {
    background-color: var(--accent-color);
}



/* ********** CSS FOR SVG ICONS ********** */
.header-icon {
    display: block;
    align-self: center;
}

.sidebar-icon {
    height: 40px;
    width: 40px;
    display: block;
}

.icon {
    height: 20px;
    width: 20px;
    display: block;
    align-self: center;
}

.header-small-icon {
    height: 30px;
    width: 30px;
    display: block;
}

